annotated-types==0.6.0
anyio==3.7.1
attrs==23.1.0
black==22.10.0
click==8.1.7
colorlog==4.8.0
dacite==1.8.1
exceptiongroup==1.1.3
fastapi==0.103.2
flake8==4.0.1
flake8-bugbear==23.3.12
gitdb==4.0.10
GitPython==3.1.38
h11==0.14.0
idna==3.4
isort==5.1.4
mccabe==0.6.1
mypy==0.790
mypy-extensions==0.4.4
pathspec==0.11.2
platformdirs==3.11.0
pycodestyle==2.8.0
pydantic==2.4.2
pydantic_core==2.10.1
pyflakes==2.4.0
pysen==0.10.5
smmap==5.0.1
sniffio==1.3.0
starlette==0.27.0
tomli==2.0.1
tomlkit==0.12.1
typed-ast==1.4.3
typing_extensions==4.8.0
unidiff==0.7.5
uvicorn==0.23.2
